@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/YekanBakh-Fat.woff2") format("woff2"),  
}
@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/YekanBakh-Heavy.woff2") format("woff2"),  
}
@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/YekanBakh-Bold.woff2") format("woff2"),  
}
@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/YekanBakh-Medium.woff2") format("woff2"),  
}
@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/YekanBakh-Regular.woff2") format("woff2"),  
}
@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/YekanBakh-Light.woff2") format("woff2"),  
}
a{
    text-decoration: none;
}

.img-overlay {
  
        position: absolute; 
        bottom: 0; 
        height: 100%;
        width: 100%;
        background: linear-gradient(306deg, rgba(7,3,73,1) 0%, rgba(0,212,255,0) 100%);
        z-index: 10;
        transition: .5s ease;
        opacity: 0;
        
      
}

.line-clamp-1{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1; 
        -webkit-box-orient: vertical;
}
.line-clamp-2{

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;

}
.productGallerySwiper{
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    .swiper-button-prev::after,.swiper-button-next::after {
     font-size: 20px;
    }
    .swiper-button-prev,.swiper-button-next {
      background-color: #ec6c20;
      width: 45px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      bottom: 0 !important;
    }
    .swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
      }
      
      body {
        background: #000;
        color: #000;
      }
      
      .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }
      
      .swiper-slide {
        background-size: cover;
        background-position: center;
      }
      
      .mySwiper2 {
        width: 100%;
        aspect-ratio: 5/3;
       
      }
    
      .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
        margin-top: 20px;
        justify-content: space-between;
      
      }
      
      .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.6;
        
        
      }
      
      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
       
        object-fit: cover;
      }
}
.commentsSwiper{
    .swiper {
        width: 100%;
        height: 100%;
        padding-left: 30px;
      }
       .swiper-slide {
        text-align: center ;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
       .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
 
      .swiper-pagination {
        left: 0px !important;
        right:auto !important;
       
       .swiper-pagination-bullet {
         background-color:transparent;
         border : 3px solid;
         height:12px !important;
         width:12px !important;
         border-color:#ec6c20 !important;
         transition:all ease .5s
 
        
       }
       .swiper-pagination-bullet-active {
         background-color:#ec6c20 !important;
         height:25px !important;
         border-radius:15px !important
     }
      }

}
.bestSellersSwiper {
    
    .swiper {
       width: 100%;
       height: 100%;
       padding-bottom:60px;
       
     }
      .swiper-slide {
      
     
       /* Center slide text vertically */
       display: flex;
       justify-content: center;
       align-items: center;
       width: 270px !important;
     }
     
      .swiper-slide img {
       display: block;
       width: 100%;
       height: 100%;
       object-fit: cover;
     }

     .swiper-pagination {
      
      .swiper-pagination-bullet {
        background-color:transparent;
        border : 3px solid;
        height:12px !important;
        width:12px !important;
        border-color:#ec6c20 !important;
        transition:all ease .5s

       
      }
      .swiper-pagination-bullet-active {
        background-color:#ec6c20 !important;
        width:25px !important;
        border-radius:15px !important
    }
     }
   }


  